<div class="container">
  <h1>Edit: <%= @article.title %></h1>


  <%= form_for(@article) do |f| %>
    <%= f.label :title, class: "form-label" %>
    <%= f.text_field :title, class: "form-control" %>
    <%= f.label :content, class: "form-label" %>
    <%= f.text_area :content, size: "40x8", class: "form-control"  %>
    <br>
    <%= f.submit%>
  <% end %>
  <br>
  <%= link_to "Show", @article, class: "text-decoration-none" %> |
  <%= link_to "Back", root_path, class: "text-decoration-none" %>
</div>
